.navContainer {
    width: 100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    background:rgb(37, 37, 37);
    z-index: 10;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    padding: 0px 15px;
    border-bottom: 2px solid rgb(185, 178, 178);
    transition: 0.2s ease-in-out;
}

.otherPages {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

.nav a {
    margin-left: 40px;
}

.homeBtn a:hover {
    color:rgb(60, 106, 206) !important;
    background-color:rgba(49, 48, 48, 0.493);
    padding: 15px 5px 5px;
    margin: -15px -5px -5px 35px;
    border-radius: 5px;
}
.otherPages a:hover {
    color:rgb(60, 106, 206) !important;
    background-color:rgba(49, 48, 48, 0.493);
    transition: 0.2s ease-in-out;
    padding: 15px 5px 5px;
    margin: -15px -5px -5px 35px;
    border-radius: 5px;
}